@media (max-width:767px) { 

.header-bg{min-height: 107px; background-color: black;}
.new-nav-style{background-image: none;background-color: transparent;box-shadow: none; border: 0px;}
.nav li a{color: white! important;}
.logo{padding-top: 18px;}
.nav_bar{padding-top: 30px;}
.header-bg-img{background: url(../img/snowboarding.jpg) no-repeat;min-height: 500px;background-position: center center; background-size: cover;}
.header-caption{margin: 190px auto; width: 40%;}
.header-caption h1{color: white;font-weight: bold; font-size: 25px;text-transform: uppercase;}
.see_details{color: white;border: 0px; background-color: black; padding: 10px 15px;float: right;margin-top: 30px;}
.fa-angle-left{font-size: 100px;margin-top:150px;}
.fa-angle-right{font-size: 100px;margin-top:150px;}
.banner2{background: url(../img/ban.jpg) no-repeat;background-position: center center; min-height: 500px;}
    .sntext1{margin-top:15px; width: 70%;}
.hl{font-size: 20px;margin-bottom: 20px;margin-top: 20px;}
.text1{font-size: 10px;}
.feature{margin-top: 120px;}
.single{ margin-bottom: 120px;}
.featuetxt{font-weight: bold;margin-top: 20px;}
.sntext{margin-top: 150px;}
.h1{margin-bottom: 75px;font-size: 28px;}
.products{margin-top: 75px;}
.footer{min-height: 300px;background-color: black;color: white;}
.stext{font-size: 14px; margin-top: 20px;}
.products input{margin-top: 20px;width: 70%;}
button{color: black;font-weight: bold;}
ul{margin-top: 50px;}
ul li a{color: white;padding: 0px 5px;}
    .change{font-size: 9px;margin-top:50px;margin-bottom:10px;}
    .snowboard{font-size: 9px;margin-top:50px;margin-bottom:10px;}

}



@media (min-width: 768px) and (max-width: 991px) { 





}

@media (min-width: 992px) and (max-width: 1199px) {




}




@media (min-width:1200px) {

}